<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Index</title>

</head>
<body>
<h2>Welcome to Weather API</h2>
<p>Fill all the mandatory fields below: </p>
<p>Click on <b>Submit</b> button for getting the last three days Atmostpheric Pressure at 04:00 AM. </p>

<form action="http://localhost:1111/AtmPrs?lat=lat&lon=lon" method="GET">
    <label for="lat">Latitude:</label><br>
    <input type="text" id="lat" name="lat" placeholder="mandatory"><br><br>
    <label for="lon">Longitude:</label><br>
    <input type="text" id="lon" name="lon" placeholder="mandatory"><br><br>
    <button type="submit" id="submit">Submit</button><br>
</form>

</body>
</html>
